.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    border: 1px solid white;
    background-color: white;
}

.register-form{
    border: 1px solid gray;
    padding: 30px;
    width: 40%;
}